@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
/* Landing */

.landing img {
    width: 100%;
    object-fit: contain;
}


/* Images */

.team {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}

.yellow-box {
    position: absolute;
    background-color: #E8B80C;
    height: 150px;
    width: 100%;
}

.images {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width: 416px) {
    .logo {
      height: 30px;
      width: 40px;
      margin: 5px;
    }
    .container{
      width: 100%;
    }
    .navbar-container {
      height: 40px;
      z-index: 1;
      width: 100%;
      padding: 0;
    }
    .nav-links ul li a {
      color: black;
    }
    .navbar-menu {
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbar-menu.active {
      background: white;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 30vh;
      font-size: 1.6rem;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: black;
    }
  
    ul li {
      width: 100%;
      display: inline-block;
    }
  
    ul li a {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 10%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .team{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }
    .yellow-box{
        width: 100%;
        height: 20%;
    }
    .images{
        width: 45%;
        gap: 10%;
    }
    .images img{
        width: 45%;
    }
  }