
/* Landing */

.landing img {
    width: 100%;
    object-fit: contain;
}


/* Images */

.team {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}

.yellow-box {
    position: absolute;
    background-color: #E8B80C;
    height: 150px;
    width: 100%;
}

.images {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width: 416px) {
    .logo {
      height: 30px;
      width: 40px;
      margin: 5px;
    }
    .navbar__toggle .bar{
     background: black;
    }
    .team{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }
    .yellow-box{
        width: 100%;
        height: 20%;
    }
    .images{
        width: 45%;
        gap: 10%;
    }
    .images img{
        width: 45%;
    }
  }