@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    ;
}

.header {
    width: 100%;
}
.con-sec {
    margin-bottom: 10%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin: auto;
    top: 0;
    z-index: 999;
}

.logo {
    margin-left: 40%;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 50%;
}

.navbar__item {
    height: 40px;
    margin-right: 4%;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

nav img {
    width: 100px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    font-weight: 400;
    line-height: 37px;
}

.nav-links ul {
    margin-right: 100px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #4EB073;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}


.con-sec2 {
    width: 100%;
    height: 100vh;
}

.pro-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15vw;
    height: 15vw;
    left: 14%;
    top: 20%;
    border-radius: 50%;
    background-color: white;
    border: 0.3vw solid #E29898;
    z-index: 2;
}

.pro-pic .img-con {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
}

.ner {
    position: absolute;
    width: 34vw;
    height: 32.5vw;
    left: 4vw;
    top: 17vw;
    border: 0.3vw solid #E29898;
}

.ner .inf {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 5vw;
    top: 60%;
    background: #FE4F70;
}

.ner h2 {
    left: 50%;
    right: 50%;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 41px;
    color: #FFFFFF;
}

.ner p {
    width: 10vw;
    height: 1vw;
    left: 42%;
    top: 40%;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 3vw;
    color: #000000;
}

.information-con {
    position: absolute;
    width: 20%;
    height: 50%;
    left: 46%;
    top: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vw solid #91C95A;
    box-sizing: border-box;
    font-size: 1vw;
}

.info {
    padding-left: 5%;
    width: 80%;
    height: 90%;
    background-color: #F7FAFE;
}

.info p {
    color: #A7AAAB;
}

.info h3 {
    font-family: 'Lato', sans-serif;
    ;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 1.3vw;
}

.scl-m {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20%;
    height: 50%;
    left: 70%;
    top: 13vw;
    border: 0.3vw solid #E8B80C;
    box-sizing: border-box;
}

.social {
    margin-top: 20%;
}

.scl-con {
    margin-bottom: 10%;
    flex-wrap: wrap;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.scl-con h2 {
    font-weight: 400;
}

.scl-con img {
    flex-grow: 1;
}

.scl-con div {
    flex-grow: 2;
}

.birth {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.birth h3 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.birth-n {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 5%;
}

.birth-n p {
    flex-grow: 1;
    display: flex;
}

.mdl {
    margin-top: 7%;
}

.statistics {
    position: absolute;
    width: 44%;
    height: 20%;
    left: 46%;
    top: 40vw;
    border: 0.1vw solid #B774FF;
    box-sizing: border-box;
}

.statistics .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
    background-color: #B774FF;
    color: white;
    font-size: 1.5vw;
}

.statistics .header p {
    margin-left: 5%;
    font-weight: 400;
    line-height: 2vw;
}

.statis {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.statis div {
    flex-grow: 1;
}

.crc-con {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

.crc-p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    padding-left: 5%;
}

.circle1 {
    flex-grow: 1;
    margin-top: 5%;
    margin-left: 5%;
    width: 5.4vw;
    height: 5.4vw;
    border-radius: 50%;
    background: #EBEBEB;
}

.cir2-con {
    width: 5.4vw;
    height: 5.4vw;
    padding-top: 10px;
}

.circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}

.circle2 p {
    font-size: 22px;
}
@media screen and (max-width: 416px) {
    .logo {
        height: 30px;
        width: 40px;
        margin: 10px;
    }
    .garchig h3{
        font-size: 14px;
    }
    .garchig{
        top: 10%;
        height: 50px;
    }
    .img-section{
        height: 300px;
    }
    .quiz-section{
        height: 50%;
    }
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 400px;
        padding: 0;
    }

    .nav-links ul li a {
        color: black;
    }

    .navbar {
        background-color: #4EB073;
    }

    .navbar__menu {
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: white;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 40vh;
        font-size: 1.2rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 80%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .logo {
        left: 0;
    }
}