.next {
  text-decoration: none;
  color: white;
  border: 2px solid #d7766e;
  padding: 1vw 2.8vw;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next:hover {
  border: 1px solid #d7766e;
  background: #d7766e;
  color: white;
  transition: 1s;
}
body {
  background-color: #0d273c;
}
.navbar {
  background-color: #0d273c;
}
.nav-links ul li a {
  color: white;
}
.container1 {
  width: 100%;
  margin: auto;
}
/* header section */
.header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
}
.img-txt .img-h {
  background-color: #354b7b;
}
section {
  background-color: #0d273c;
  color: white;
}

h4 {
  font-family: "Brygada 1918", serif;
  color: #a5ddf2;
  font-size: 2.8vw;
}
/* information section */
.information div {
  margin: auto;
  margin-bottom: 5%;
  width: 90%;
}
.information p {
  font-size: 1.2vw;
}
/* statistics section */
.statistics {
  display: flex;
  justify-content: center;
  height: 25vw;
  display: flex;
  padding-right: 3%;
}

.statistics div {
  width: 15%;
  height: 65%;
  border: 6px solid #fee8a9;
  background-color: white;
  color: black;
  margin-left: 2%;
}

.statistics h4 {
  margin-left: 10px;
  color: black;
  font-size: 3vw;
}

.statistics p {
  margin-left: 3%;
  font-size: 1.2vw;
}

.st4 p {
  height: 250px;
  font-size: 1.1vw;
}

.st3 p {
  font-size: 1.3vw;
}
@media screen and (max-width: 1400px) {
  .information p {
    font-size: 20px;
  }
  .next {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 1200px) {
  .information p {
    font-size: 18px;
  }
  .header {
    height: 80vh;
  }
  .next {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 992px) {
  .information p {
    font-size: 16px;
  }
  .header {
    height: 60vh;
  }
  .next {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .information p {
    font-size: 15px;
  }
  .header {
    height: 50vh;
  }
  .next {
    margin-bottom: 70px;
    width: 120px;
    height: 50px;
    font-size: 16px;
  }
  .statistics h4 {
    font-size: 15px;
  }
}
@media screen and (max-width: 575px) {
  .header {
    height: 40vh;
  }
  .header .img-txt {
    top: 22%;
  }
  .information p {
    font-size: 14px;
  }
  h4 {
    font-size: 20px;
  }
  .statistics h4 {
    font-size: 12px;
  }
  .next {
    margin-bottom: 70px;
    width: 110px;
    height: 45px;
    font-size: 15px;
  }
  .statistics div {
    height: 80%;
  }
  .statistics p {
    font-size: 6px;
  }
}
@media screen and (max-width: 416px) {
  .statistics h4 {
    font-size: 11px;
  }
  .navbar-menu.active {
    background-color: #354b7b;
  }
  .next {
    margin-bottom: 40px;
    width: 100px;
    height: 40px;
    font-size: 13px;
  }
  h4 {
    font-size: 16px;
  }
  .header {
    height: 35vh;
  }
  .navbar__toggle .bar {
    background: white;
  }
  .information p {
    font-size: 13px;
  }
  .row {
    margin-bottom: 10px;
    margin: 5px;
    width: 100%;
  }
  .container1 {
    width: 90%;
  }
  .tsuvaa {
    margin-bottom: 10px;
  }
  .column {
    margin-bottom: 10px;
  }
  .dooshoo {
    margin-bottom: 10px;
    margin: 0px;
    width: 33%;
  }
  .row .column {
    margin-bottom: 10px;
    margin: 0px;
  }
  .text {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .zai30px {
    margin-left: 0px;
    font-size: 10px;
  }
  .tugsgul {
    width: 100vw;
    height: 200px;
    padding: 0px;
  }
  .suulzurag {
    width: 30px;
    height: 30px;
  }
  .social {
    height: 20px;
    width: 20px;
    margin: 5px;
  }
  .ikons {
    width: 20px;
    height: 20px;
  }
  .text3 {
    margin: 10px;
    font-size: 13px;
    text-align: center;
  }
  .tsuvaa p {
    font-size: 10px;
    margin: 3px;
    text-align: center;
  }
  .tsuvaa {
    margin: 0px;
  }
  .img-txt {
    position: relative;
  }
  .img-h {
    top: 0px;
  }
  .img-txt h3 {
    width: 100%;
    font-size: 20px;
    margin: 0;
  }
  .img-txt h4 {
    padding-left: 5%;
    font-size: 12px;
    margin: 0;
  }
  .statistics {
    display: flex;
    flex-wrap: wrap;
  }
  .statistics div {
    border: 3px solid #fee8a9;
    height: 80%;
  }
  .statistics h4 {
    margin-left: 0;
  }
  .statistics .st1 {
    margin-left: 0;
  }
}
@media screen and (max-width: 390px) {
  .header {
    height: 40vh;
  }
  .statistics h4 {
    font-size: 9px;
  }
  .statistics div {
    height: 90%;
  }
  .statistics p {
    font-size: 6px;
  }
}
@media screen and (max-width:353px) {
    .statistics div {
      height: 100%;
    }
    .next {
      margin: 15px;
    }
}
@media screen and (max-width:328px) {
  .statistics div {
    height: 120%;
  }
  .next {
    margin: 20px;
  }
  .header {
    height: 35vh;
  }
}
