.next {
  text-decoration: none;
  color: white;
  border: 2px solid #e9c85c;
  font-size: 15px;
  width: 150px;
  background: transparent;
  cursor: pointer;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next:hover {
  border: 1px solid #e9c85c;
  background: #e9c85c;
  color: white;
  transition: 1s;
}
.previous {
  text-decoration: none;
  color: white;
  border: 2px solid #0d273c;
  height:50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
  margin-bottom: 200px;
}
.previous:hover {
  border: 1px solid #0d273c;
  background: #0d273c;
  color: white;
  transition: 1s;
}
body {
  background-color: #d7766e;
}
.navbar {
  background-color: #d7766e;
}
.nav-links ul li a {
  color: white;
}
/* header section */
.header {
  height: 100vh;
}
.header .img-txt .img-h {
  background-color: #ed959e;
}
/* header end */
section {
  background-color: #d7766e;
  color: white;
}
/* information section */
h4 {
  color: #381D72;
  font-size: 2.8vw;
}
.information {
  margin-bottom: 10%;
}
.information p {
  font-size: 2vw;
}
/* statistics section */
.statistics {
  width: 100%;
  height: 400px;
  display: flex;
  gap: 15px;
}

.statistics div {
  width: 320px;
  height: 350px;
  border: 6px solid #fee8a9;
  background-color: white;
  color: black;
  margin-left: 110px;
}

.statistics h4 {
  margin-left: 10px;
  color: black;
  font-size: 49px;
}

.statistics p {
  margin-left: 10px;
  font-size: 27px;
}

.st4 p {
  height: 250px;
  font-size: 23px;
}

.st3 p {
  font-size: 24px;
}
.img40 {
  width: 100%;
  position: relative;
}
.imgg40 {
  margin-top: 10%;
  width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 1400px) {
  .information p {
    font-size: 20px;
  }
  .previous {
    margin-bottom: 120px;
  }
  .next {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 1200px) {
  .information p {
    font-size: 18px;
  }
  .header {
    height:80vh;
  }
  .previous {
    margin-bottom: 100px;
  }
  .next {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 992px) {
  .information p {
    font-size: 16px;
  }
  .header {
    height:60vh;
  }
  .previous {
    margin-bottom: 80px;
  }
  .next {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .information p {
    font-size: 15px;
  }
  .header {
    height:50vh;
  }
  .previous {
    margin-bottom: 70px;
    width: 120px;
    height: 50px;
    font-size: 16px;
  }
  .next {
    margin-bottom: 70px;
    width: 120px;
    height: 50px;
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  .header {
    height:40vh;
  }
  .header .img-txt {
    top: 20%;
  }
  h4 {
    font-size: 20px;
  }
  .previous {
    margin-bottom: 70px;
    width: 110px;
    height: 45px;
    font-size: 15px;
  }
  .next {
    margin-bottom: 70px;
    width: 110px;
    height: 45px;
    font-size: 15px;
  }
}
@media screen and (max-width: 416px) {
  .previous {
    margin-bottom: 40px;
    width: 100px;
    height: 40px;
    font-size: 13px;
  }
  .next {
    margin-bottom: 70px;
    width: 100px;
    height: 40px;
    font-size: 13px;
  }
  .header {
    height:30vh;
  }
  .header .img-txt {
    top: 17%;
  }
  h4 {
    font-size: 16px;
  }
  .row {
    margin-bottom: 10px;
    margin: 5px;
    width: 100%;
  }
  .tsuvaa {
    margin-bottom: 10px;
  }
  .column {
    margin-bottom: 10px;
  }
  .dooshoo {
    margin-bottom: 10px;
    margin: 0px;
    width: 33%;
  }
  .row .column {
    margin-bottom: 10px;
    margin: 0px;
  }
  .text {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .zai30px {
    margin-left: 0px;
    font-size: 10px;
  }
  .tugsgul {
    width: 100vw;
    height: 200px;
    padding: 0px;
  }
  .suulzurag {
    width: 30px;
    height: 30px;
  }
  .social {
    height: 20px;
    width: 20px;
    margin: 5px;
  }
  .ikons {
    width: 20px;
    height: 20px;
  }
  .text3 {
    margin: 10px;
    font-size: 13px;
    text-align: center;
  }
  .tsuvaa p {
    font-size: 10px;
    margin: 3px;
    text-align: center;
  }
  .tsuvaa {
    margin: 0px;
  }
  .img-txt {
    position: relative;
  }
  .img-h {
    top: 0px;
  }
  .img-txt h3 {
    width: 100%;
    font-size: 20px;
    margin: 0;
  }
  .navbar-menu.active {
    background-color: #ed959e;
  }
  .information {
    padding: 10%;
  }
}
