body {
  background-color: #e9c85c;
}

/* header section */
.header {
  height: 100vh;
}
.navbar {
  background-color: #e9c85c;
}
.nav-links ul li a {
  color: white;
}
/* nuur zurag */
.img-txt {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.img-txt h3 {
  margin-top: 10%;
  font-size: 70px;
}

.img40 {
  width: 100%;
  position: relative;
}
.img-h {
  top: 20%;
  position: absolute;
}

.imgg40 {
  width: 100%;
  margin-top: 10%;
}

/* information section */
.information {
  margin-bottom: 10%;
}
.information div {
  margin-left: 5%;
  margin-bottom: 5%;
  width: 80%;
}
.information p {
  font-size: 2vw;
}
h4 {
  color: #b98c05;
  font-size: 3vw;
}
.list li {
  font-size: 2vw;
}
.list ul {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
}
section {
  background-color: #e9c85c;
  color: white;
}
.container2 {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
}

.container div {
  flex-grow: 1;
}
/* tugsgul medeelel */
.dooshoo {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.text {
  font-size: 30px;
  letter-spacing: normal;
  font-weight: lighter;
}
.zai30px {
  margin-left: 30px;
}
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
  margin-top: 35px;
  justify-content: center;
  align-items: center;
}
.tsuvaa {
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-left: 0px;
}
.column {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 0px;
}
.tugsgul {
  background-color: white;
  height: 407px;
  display: flex;
  flex-direction: row;
}
.about-page {
  background-color: white;
  display: flex;
  flex-direction: row;
}
.social {
  height: 50px;
  width: 50px;
  margin: 15px;
}
.text3 {
  margin: 40px;
}
@media screen and (max-width: 416px) {
  .row {
    margin-bottom: 10px;
    margin: 5px;
    width: 100%;
  }
  .tsuvaa {
    margin-bottom: 10px;
  }
  .column {
    margin-bottom: 10px;
  }
  .dooshoo {
    margin-bottom: 10px;
    margin: 0px;
    width: 33%;
  }
  .row .column {
    margin-bottom: 10px;
    margin: 0px;
  }
  .text {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .zai30px {
    margin-left: 0px;
    font-size: 10px;
  }
  .tugsgul {
    width: 100vw;
    height: 200px;
    padding: 0px;
  }
  .suulzurag {
    width: 30px;
    height: 30px;
  }
  .social {
    height: 20px;
    width: 20px;
    margin: 5px;
  }
  .ikons {
    width: 20px;
    height: 20px;
  }
  .text3 {
    margin: 10px;
    font-size: 13px;
    text-align: center;
  }
  .tsuvaa p {
    font-size: 10px;
    margin: 3px;
    text-align: center;
  }
  .tsuvaa {
    margin: 0px;
  }
  .img-txt {
    position: relative;
  }
  .img-h {
    top: 80px;
    margin-right: 60px;
  }
  .img-txt h3 {
    width: 100%;
    font-size: 20px;
    margin: 0;
  }
  .img-txt h5 {
    padding-left: 5%;
    font-size: 12px;
    margin: 0;
  }
  .navbar-menu.active {
    background-color: #e4cd06;
  }
}

.information h4:nth-child(1) span {
  animation-delay: 0.5s;
}
.information h4:nth-child(2) span {
  animation-delay: 1.5s;
}
.information h4:nth-child(3) span {
  animation-delay: 2.5s;
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: #d78827;
  }
}
