* {
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0d273c;
  margin: auto;
}
.landing img {
  width: 100%;
  object-fit: contain;
}
.navbar{
  background-color: #0d273c;
}
.nav-links ul li a{
  color: white;
}
/* header section */
.header {
  height: 100vh;
}
section {
  background-color: #0d273c;
  color: white;
}

h4 {
  color: #354b7b;
  font-size: 2.8vw;
}
/* nuur zurag */
.img-txt {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.img-txt h3 {
  margin-right: 26%;
  font-size: 70px;
}

.img-txt h4 {
  width: 60%;
  margin: 10px 0 40px;
  margin-left: 8%;
  font-size: 40px;
  color: white;
}
.img-h {
  left:10%;
  top: 0%;
  position: absolute;
}

/* information section */
.information div {
  margin-left: 5%;
  margin-bottom: 5%;
  width: 80%;
}
.information p {
  font-size: 1.2vw;
}

/* statistics section */
.statistics {
  height: 25vw;
  display: flex;
}

.statistics div {
  width: 20%;
  height: 90%;
  border: 6px solid #fee8a9;
  background-color: white;
  color: black;
  margin-left: 2%;
}

.statistics h4 {
  margin-left: 10px;
  color: black;
  font-size: 3vw;
}

.statistics p {
  margin-left: 3%;
  font-size: 1.4vw;
}

.st4 p {
  height: 250px;
  font-size: 1.2vw;
}

.st3 p {
  font-size: 1.3vw;
}

/* tugsgul medeelel */
.cntnr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row .cntnr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.map {
  margin-right: 50px;
}
.dooshoo {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  width: 33%;
}
h3 {
  font-size: 30px;
  font-weight: bolder;
  color: #354b7b;
  margin: 50px;
  margin-left: 0px;
}
.text {
  font-size: 30px;
  letter-spacing: normal;
  font-weight: lighter;
}
.zai30px {
  margin-left: 30px;
}
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
  margin-top: 35px;
  justify-content: center;
  align-items: center;
}
.tsuvaa {
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-left: 0px;
}
.column {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 0px;
}
.tugsgul {
  background-color: white;
  height: 407px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.TEXT {
  font-size: 44px;
  margin: 60px;
  margin-left: 0px;
  font-weight: 300;
}

.text2 {
  font-size: 30px;
  letter-spacing: normal;
  font-weight: lighter;
  margin: 80px;
  margin-left: 0px;
}
.social {
  height: 50px;
  width: 50px;
  margin: 15px;
}
.text3 {
  margin: 40px;
}
@media screen and (max-width: 416px) {
  .row {
    margin-bottom: 10px;
    margin: 5px;
    width: 100%;
  }
  .tsuvaa {
    margin-bottom: 10px;
  }
  .column {
    margin-bottom: 10px;
  }
  .dooshoo {
    margin-bottom: 10px;
    margin: 0px;
    width: 33%;
  }
  .row .column {
    margin-bottom: 10px;
    margin: 0px;
  }
  .text {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .zai30px {
    margin-left: 0px;
    font-size: 10px;
  }
  .tugsgul {
    width: 100vw;
    height: 200px;
    padding: 0px;
  }
  .suulzurag {
    width: 30px;
    height: 30px;
  }
  .social {
    height: 20px;
    width: 20px;
    margin: 5px;
  }
  .ikons {
    width: 20px;
    height: 20px;
  }
  .text3 {
    margin: 10px;
    font-size: 13px;
    text-align: center;
  }
  .tsuvaa p {
    font-size: 10px;
    margin: 3px;
    text-align: center;
  }
  .tsuvaa {
    margin: 0px;
  }
  .img-txt {
    position: relative;
  }
  .img-h {
    top: 0px;
    margin-right: 60px;
  }
  .img-txt h3 {
    width: 70%;
    margin-bottom: auto 0;
  }
  .img-txt h4 {
    padding-left: 5%;
  }
  .statistics {
    display: flex;
    flex-wrap: wrap;
  }
  .statistics div {
    height: 50%;
  }
}
