body {
  background-color: var(--thirdary-color);
}
:root {
  --primary-color: black;
  --secondary-color: white;
  --thirdary-color:#e9c85c;
}
.yellow-theme {
  --primary-color: white;
  --secondary-color: black;
  --thirdary-color:#d6b962;
}

.header .img-txt {
  top: 55%;
}
.previous {
  text-decoration: none;
  color: white;
  border: 2px solid #d7766e;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
  margin-bottom: 150px;
}
.previous:hover {
  border: 1px solid #d7766e;
  background: #d7766e;
  color: white;
  transition: 1s;
  letter-spacing: 5px;
}
/* header section */
.header {
  height: 105vh;
}
.navbar {
  background-color: var(--thirdary-color);
}
.nav-links ul li a {
  color: var(--secondary-color);
}

/* nuur zurag */
.img-txt {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.img-txt h3 {
  margin-top: 10%;
  font-size: 70px;
}
.img-txt .img-h {
  background-color: #d78827;
}
.img40 {
  width: 100%;
  position: relative;
}
.img-h {
  top: 20%;
  position: absolute;
}

.imgg40 {
  height: 60%;
}

/* information section */
.information {
  margin-bottom: 10%;
  
}
.information div {
  margin-left: 0%;
  margin-bottom: 5%;
  width: 100%;
}
.information p {
  font-size: 2vw;
}
h4 {
  color: #b98c05;
  font-size: 3vw;
  font-family: "Brygada 1918", serif;
  margin: 30px;
}
.list li {
  font-size: 2vw;
}
.list ul {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
}
section {
  background-color: var(--thirdary-color);
  color:white;
}
.container2 {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
}
.contact-us-con{
  color: black;
}
/* .container div {
  flex-grow: 1;
} */
/* tugsgul medeelel */
.dooshoo {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.text {
  font-size: 30px;
  letter-spacing: normal;
  font-weight: lighter;
}
.zai30px {
  margin-left: 30px;
}
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
  margin-top: 35px;
  justify-content: center;
  align-items: center;
}
.tsuvaa {
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-left: 0px;
}
.column {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 0px;
}
.tugsgul {
  background-color: white;
  height: 407px;
  display: flex;
  flex-direction: row;
}
.about-page {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
}
.social {
  height: 50px;
  width: 50px;
  margin: 15px;
}
.text3 {
  margin: 40px;
}
@media screen and (max-width: 1400px) {
  .information p {
    font-size: 20px;
  }
  .header {
    height: 100vh;
  }
  .previous {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 1200px) {
  .information p {
    font-size: 18px;
  }
  .header {
    height: 100vh;
  }
  .header .img-txt {
    top: 45%;
  }
  .previous {
    margin-bottom: 100px;
  }
  h4 {
    margin: 28px;
  }
}
@media screen and (max-width: 992px) {
  .information p {
    font-size: 16px;
  }
  .header {
    height: 60vh;
  }
  .header .img-txt {
    top: 35%;
  }
  .previous {
    margin-bottom: 80px;
  }
  h4 {
    margin: 25px;
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .information p {
    font-size: 15px;
  }
  .header {
    height: 50vh;
  }
  .header .img-txt {
    top: 30%;
  }
  .previous {
    margin-bottom: 70px;
    width: 120px;
    height: 50px;
    font-size: 16px;
  }
  .h4 {
    font-size: 25px;
    margin: 19px;
  }
}
@media screen and (max-width: 575px) {
  .header {
    height: 45vh;
  }
  .header .img-txt {
    top: 20%;
  }
  h4 {
    font-size: 20px;
  }
  .previous {
    margin-bottom: 70px;
    width: 110px;
    height: 45px;
    font-size: 15px;
  }
  h4 {
    font-size: 20px;
    margin: 16px;
  }
}
@media screen and (max-width: 416px) {
  .previous {
    margin-bottom: 40px;
    width: 100px;
    height: 40px;
    font-size: 13px;
  }
  .row {
    margin-bottom: 10px;
    margin: 5px;
    width: 100%;
  }
  h4 {
    font-size: 16px;
  }
  .header {
    height: 45vh;
  }
  .header .img-txt {
    top: 24%;
  }
  .tsuvaa {
    margin-bottom: 10px;
  }
  .column {
    margin-bottom: 10px;
  }
  .dooshoo {
    margin-bottom: 10px;
    margin: 0px;
    width: 33%;
  }
  .row .column {
    margin-bottom: 10px;
    margin: 0px;
  }
  .text {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .zai30px {
    margin-left: 0px;
    font-size: 10px;
  }
  .tugsgul {
    width: 100vw;
    height: 200px;
    padding: 0px;
  }
  .suulzurag {
    width: 30px;
    height: 30px;
  }
  .social {
    height: 20px;
    width: 20px;
    margin: 5px;
  }
  .ikons {
    width: 20px;
    height: 20px;
  }
  .text3 {
    margin: 10px;
    font-size: 13px;
    text-align: center;
  }
  .tsuvaa p {
    font-size: 10px;
    margin: 3px;
    text-align: center;
  }
  .tsuvaa {
    margin: 0px;
  }
  .img-txt {
    position: relative;
  }
  .img-h {
    top: 80px;
    margin-right: 60px;
  }
  .img-txt h3 {
    width: 100%;
    font-size: 20px;
    margin: 0;
  }
  .img-txt h5 {
    padding-left: 5%;
    font-size: 12px;
    margin: 0;
  }
  .navbar-menu.active {
    background-color: #e4cd06;
  }
  .information{
    padding: 5%;
  }
}
@media screen and (max-width: 390px) {
  .header {
    height: 45vh;
  }
  .header .img-txt {
    top: 25%;
  }
}
.information h4:nth-child(1) span {
  animation-delay: 0.5s;
}
.information h4:nth-child(2) span {
  animation-delay: 1.5s;
}
.information h4:nth-child(3) span {
  animation-delay: 2.5s;
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: #d78827;
  }
}
