@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family:'Lato',
  sans-serif; ;

}


/* header section */
.header {
  min-height: 100vh;
  width: 100%;
}

nav {
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
section{
  height: 35vw;
}
.navbar{
  width:100%;
  height: 80px;
display: flex;
justify-content: center;
align-items: center;
position: sticky;
margin: auto;
  top: 0;
  z-index:999;
}
#navbar__logo{
  margin-left: 100px;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 50%;
}
.navbar__item {
  height: 40px;
  margin-right: 4%;
}

.navbar__links {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}
nav img {
  width: 100%;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding: 5px;
  font-weight: 400;
  line-height: 37px;
}
.nav-links ul{
  margin-right: 100px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #4EB073;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.hp-img {
  width: 100%;
  height: 87vh;
}


@media screen and (max-width: 416px) {
  .logo {
    height: 30px;
    width: 40px;
    margin: 5px;
}
.news-col{
  height: 100px;
}
  .inf h3{
    font-size: 3vw;
    height: 20px;
  }
  nav img {
    width: 60%;
  }
  .inp2{
    height: 250px;
  }
  .img-con{
    height: 50%;
  }
  .image2 {
    height: 80%;
  }

  .img1{
    height: 18vw;
    margin-left: 0;
  }
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    z-index:1;
    width: 100%;
    max-width: 400px;
    padding: 0;
  }
  .nav-links ul li a{
    color: black;
  }
  .navbar{
    background-color: #4EB073;
  }
  .navbar__menu {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: white;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 40vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 80%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .logo{
     left: 0;
  }
}

/* information section */
.in-p {
  
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 31%;
  background: #c1d8f0;
  border-radius: 10px;
  margin-bottom: 2vw;
  box-sizing: border-box;
  color: white;
  transition: 0.5s;
  height: 20vw;
  width: 30vw;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 2vw;
}

.in-p:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.information {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  margin-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  padding-top: 1vw;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.inf-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding-top: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.inf {
  width: 70vw;
  height:fit-content;
  display: flex;
  flex-direction: row;
  margin-top: 10vw;
  padding-left: 5%;
}
.img-container{
  left: 50%;
  position: relative;
}
.in-con {
  display: flex;
  flex-grow: 1;
  position: absolute;
  margin-left: 13%;
}

.inf p {
  width:28vw;
  font-size: 1.8vw;
}


.inf2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 7%;
}

.inf2-img {
  margin-top: 6vw;
}

.inf-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.inp2 {
  margin-left: 35%;
  height:20vw;
}
.in-p #text{
  height: 20vw;
}
/* 3d */
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(72, 168, 232, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 39%;
  opacity: 1;
}
.news2 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.news-col {
  width: 146px;
  height: 18vw;
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.news-col img {
  width: 100%;
  display: block;
}
/* latest news section */



.img-con {
  width: 18vw;
  height: 18vw;
  position: relative;
  display: flex;
  flex-grow: 1;
  margin-left: 70%;

}
.img3{
  width: 50vw;
}
.img2 {
  top: 30%;
  margin-left: 50%;
  position: absolute;
}
.img2 img{
  width: 30vw;
  height: 20vw;
}
.img1 {
  display: block;
  margin-left: 15%;
}
.img3{
  display: block;
}
.lrn-m {
  display: inline-block;
  text-decoration: none;
  color: #4EB073;
  border: 0.15vw solid #4EB073;
  padding: 1vw 2.8vw;
  font-size:1vw;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 17%;
}

.lrn-m:hover {
  border: 1px solid #4EB073;
  background: #4EB073;
  color: white;
  transition: 1s;
}



.row-btn {
  font-size: 60px;
}

.btn-con {
  padding-top: 60px;
}

.latest-news {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;

}

h4 {
  margin-top: 2vw;
  margin-bottom: 2vw;
  color: #3A94D4;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 58px;
}

.container2 {
  width: 90%;
  height: 80vh;

}
.news {
  width: 100%;
  height: 20vw;
  border-radius: 10px;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;

}

.garchig {
  text-align: left;
  width: 30%;
  height: 88%;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  flex-wrap: wrap;
}

.garchig p {
  font-size: 1.7vw;
  margin-left: 2%;
  width: 100%;
  font-weight: 400;
  line-height: 90%;
  position: relative;
}
.garchig p #text{
  margin-bottom: 10px;
}
.medeelel {
  width: 60%;
  height: 80%;
  margin-left: 20px;

}
.m-a {
  width: 2.5vw;
  height: 2.5vw;
  font-size: 2vw;
  border-radius: 50%;
  background-color: #4EB073;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15vw;
  margin-top:11%;
  position: absolute;
  transition: transform .4s; 
}

.m-a:hover {
  transform: scale(1.2);
}
.news:hover {
box-shadow: 0px 0px 5px 0 #0000002c;
}

.medeelel p {
  font-size: 1.8vw;
  text-align: left;
  font-weight: 300;
  line-height: 90%;
}
.tsenher {
  background-color: #0D273C;
}

.ygaan {
  background-color: #D7766E;
}

.shar {
  background-color: #E9C85C;
}


.logo{
  margin-left: 40%;
}
.inf .h3 span {
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  background-color: #3A94D4;
  /* animation: text_reveal_box 1s ease; */
  animation-delay: 0.5s;
}
/* .inf .h3:nth-child(1) span {
  animation-delay: 0.5s;
}
.inf .h3:nth-child(2) span {
  animation-delay: 1.5s;
} */
.inf h3 span {
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  background-color: #3A94D4;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}

h3 {
  width:30vw;
  text-align:center;
  font-weight: 600;
}
.inf h3:nth-child(1) span {
  animation-delay: 0.5s;
}
.inf h3 {
    display: block;
    position: relative;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
  color: white;
  font-size: 2.6vw;
  height: 4vw;
  margin-bottom: 2vw;
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: #3A94D4;
  }
}