/* Header section */

.header {
  width: 100%;
}

.hp-img {
  width: 100%;
  height: 100vh;
}

/* About us section */

.aboutus {
  display: flex;
  margin-top: 10%;
}
.aboutus .left {
  flex: 1;
  display: flex;
}
.aboutus .right {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutus .right img {
  width: 100%;
  object-fit: contain;
}
.aboutus .right .image {
  position: absolute;
  width: 80%;
  padding: 12px;
  background-color: #fff;
}
.aboutus .right .image:nth-last-of-type(1) {
  top: 30%;
  left: 20%;
}
.aboutus h3 {
  font-size: 2.5vw;
  color: #409ada;
  margin-bottom: 5%;
}
.slick-prev,
.slick-next {
  top: 30%;
  width: 20px;
  height: 20px;
}
.slick-prev:before,
.slick-next:before {
  color: green;
  font-size: 40px;
}
.slick-prev {
  left: -55px;
}
.slick-next {
  right: -15px;
}
.slick-arrow {
  color: black;
}
.in-p {
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 31%;
  background: #c1d8f0;
  border-radius: 10px;
  margin-bottom: 2vw;
  box-sizing: border-box;
  color: white;
  transition: 0.5s;
  height: 20vw;
  width: 30vw;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 2vw;
}
.inp2 {
  margin-top: 24%;
}
.in-p:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 416px) {
  .logo {
    height: 30px;
    width: 40px;
    margin: 5px;
  }
  .aboutus h3 {
    font-size: 10px;
  }
  .lrn-m {
    margin-left: 10%;
  }
  .in-p {
    font-size: 8px;
  }
  .news-col {
    height: 100px;
  }
  .inf h3 {
    font-size: 3vw;
    height: 20px;
  }
  nav img {
    width: 60%;
  }
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inp2 {
    height: 120px;
  }
  .aboutus .right .image {
    padding: 2px;
  }
  .img-con {
    height: 50%;
  }
  .image2 {
    height: 80%;
  }
  .img1 {
    height: 18vw;
    margin-left: 0;
  }
}

.information {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  margin-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}
.row {
  width: 55%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.inf-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding-top: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.img-container {
  left: 50%;
  position: relative;
}

.inf p {
  width: 28vw;
  font-size: 1.8vw;
}

.inf2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 7%;
}
.inf-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.in-p #text {
  height: 20vw;
}
/* 3d */
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(72, 168, 232, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 39%;
  opacity: 1;
}
.news2 {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.news-col {
  width: 100%;
  height: 100%;
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.slick-slide div {
  margin-right: 5%;
}
.news-col img {
  width: 100%;
  display: block;
}
/* latest news section */

.lrn-m {
  display: inline-block;
  text-decoration: none;
  color: #4eb073;
  border: 0.15vw solid #4eb073;
  padding: 1vw 2.8vw;
  font-size: 1vw;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-top: 2%;
}

.lrn-m:hover {
  border: 1px solid #4eb073;
  background: #4eb073;
  color: white;
  transition: 1s;
}

.row-btn {
  font-size: 60px;
}

.btn-con {
  padding-top: 60px;
}

.latest-news {
  width: 100%;
  height: 80vh;
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
}

h4 {
  margin-top: 2vw;
  margin-bottom: 2vw;
  color: #3a94d4;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 58px;
}

.container2 {
  width: 90%;
  height: 80vh;
}
.news {
  width: 100%;
  height: 20vw;
  border-radius: 10px;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}

.garchig {
  text-align: left;
  width: 30%;
  height: 88%;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  flex-wrap: wrap;
}

.garchig p {
  font-size: 1.7vw;
  margin-left: 2%;
  width: 100%;
  font-weight: 400;
  line-height: 90%;
  position: relative;
}
.garchig p #text {
  margin-bottom: 10px;
}
.img1 {
  width: 90%;
}
.medeelel {
  width: 60%;
  height: 80%;
  margin-left: 20px;
}
.m-a {
  width: 2.5vw;
  height: 2.5vw;
  font-size: 2vw;
  border-radius: 50%;
  background-color: #4eb073;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15vw;
  margin-top: 11%;
  position: absolute;
  transition: transform 0.4s;
}

.m-a:hover {
  transform: scale(1.2);
}
.news:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}

.medeelel p {
  font-size: 1.8vw;
  text-align: left;
  font-weight: 300;
  line-height: 90%;
}
.tsenher {
  background-color: #0d273c;
}

.ygaan {
  background-color: #d7766e;
}

.shar {
  background-color: #e9c85c;
}

.inf .h3 span {
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  background-color: #3a94d4;
  animation-delay: 0.5s;
}
.inf h3 span {
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  background-color: #3a94d4;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}
h3 {
  width: 30vw;
  text-align: center;
  font-weight: 600;
}
.inf h3:nth-child(1) span {
  animation-delay: 0.5s;
}
.inf h3 {
  display: block;
  position: relative;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
  color: white;
  font-size: 2.6vw;
  height: 4vw;
  margin-bottom: 2vw;
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: #3a94d4;
  }
}
