section {
  padding-top: 80px;
}
body {
  background-color: var(--primary-color);
}
:root {
  --primary-color: #fff;
  --secondary-color: #212121;
}
.dark-theme {
  --primary-color: #212121;
  --secondary-color: #fff;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  padding-top: 3%;
  background-color: var(--primary-color);
  margin-top: 80px;
}
.header {
  width: 100%;
}
.asuult {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2%;
}
h1 {
  margin-left: 2%;
  margin-right: 2%;
  color: #409ada;
  font-size: 36px;
  font-weight: lighter;
  font-family: "Brygada 1918", serif;
}
h2 {
  color: #409ada;
  font-size: 40px;
  font-weight: lighter;
}
h3 {
  margin: 30px;
  font-size: 40px;
  color: #0e7755;
}
.row h2 {
  margin: 30px;
  margin-left: 0px;
}
.line {
  border: 4px solid #409ada;
  border-radius: 4px;
  width: 24%;
}
.rnbl {
  width: 1440px;
  height: 485px;
  margin: 100px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tsuvaa {
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-left: 0px;
}
.column {
  margin: 20px;
  margin-left: 0px;
  position: relative;
}
.dooshoo {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.goldoo {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 0px;
  align-items: center;
}
.row .column {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 40px;
  align-items: center;
}
.Information {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.other {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 20px;
}
.container2 {
  width: 392px;
  height: 207px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
}
.container2 a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  cursor: pointer;
  padding-right: 10px;
  transition: all 0.3s ease;
}
.container2 a:hover {
  border-bottom: 3px solid #409ada;
}
a {
  text-decoration: none;
  color: black;
}
.otherimg:hover {
  opacity: 50%;
}
.text {
  font-size: 30px;
  letter-spacing: normal;
  font-weight: lighter;
  text-align: justify;
  margin-right: 15px;
  color: var(--secondary-color);
}
.text1 {
  font-size: 30px;
  letter-spacing: normal;
  font-weight: lighter;
  margin-right: 90px;
  color: var(--secondary-color);
}
.otherimg {
  height: 90%;
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
  margin: 5px;
}
.huvi {
  font-size: 50px;
  letter-spacing: normal;
  font-weight: bolder;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: -1px -1px 0 #949398ff, 1px -1px 0 #949398ff, -1px 1px 0 #f4df4eff,
    1px 1px 0 #f4df4eff;
}
.tomzrg {
  width: 1360px;
  margin: 50px;
  margin-left: -13px;
}
.solar {
  width: 95%;
}
.TEXT {
  font-size: 44px;
  margin: 60px;
  margin-left: 0px;
  font-weight: 300;
}

.text2 {
  font-size: 30px;
  letter-spacing: normal;
  font-weight: lighter;
  margin: 80px;
  margin-left: 0px;
}
.social {
  height: 50px;
  width: 50px;
  margin: 15px;
}
.dooshoo .text3 {
  margin: 40px;
}
.zai30px {
  margin-left: 30px;
}
.dooshoo .row {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
  margin-top: 35px;
  justify-content: center;
  align-items: center;
}
.dooshoo .tsuvaa {
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-left: 0px;
}
.column {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 0px;
}
.tugsgul {
  background-color: white;
  display: flex;
  margin-top: 10%;
  flex-direction: row;
}
.dooshoo .cntnr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row .cntnr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dooshoo {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.dooshoo .text {
  font-size: 18px;
  letter-spacing: normal;
  font-weight: lighter;
}
ul {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}
.zai {
  font-size: 30px;
  margin: 5px;
  font-weight: lighter;
  color: var(--secondary-color);
}
.map {
  height: 100%;
  margin-right: 50px;
  margin: 30px;
  margin-left: 0px;
}
.tomzrg {
  width: 1360px;
  height: 50%;
  margin: 30px;
  margin-left: -13px;
}
.circle {
  height: 240px;
  width: 240px;
  display: block;
}
.circle_overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}
.circle_overlay--blur {
  backdrop-filter: blur(5px);
}
.circle_overlay:hover {
  opacity: 1;
}
.circle_overlay > * {
  transform: translateY(30px);
  transition: 0.5s;
}
.circle_overlay:hover > * {
  transform: translateY(0px);
  transition: 0.5s;
}
@media only screen and (max-width: 1400px) {
  .main-container {
    width: 94vw;
    margin-top: 80px;
  }
  .line {
    border: 2px solid #409ada;
    width: 25%;
  }
  h1 {
    font-size: 28px;
    margin: 10px;
  }
  h2 {
    font-size: 30px;
  }
  .row h2 {
    margin: 20px;
    margin-left: 0px;
  }
  h3 {
    margin: 30px;
    font-size: 30px;
  }
  .asuult {
    width: 100%;
  }
  .rnbl {
    width: 100%;
    height: 400px;
  }
  .row {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .row .column {
    margin: 15px;
  }
  .text1 {
    font-size: 25px;
    margin-right: 60px;
  }
  .zai {
    font-size: 24px;
  }
  .Information .row {
    margin-top: 0px;
  }
  .circle {
    height: 220px;
    width: 220px;
  }
  .circle_overlay {
    height: 220px;
    width: 220px;
  }
  .Information {
    margin-top: 0px;
    margin-left: 25px;
  }
  .other {
    margin-top: 0px;
  }
  .container2 {
    width: 95%;
    height: 160px;
    margin-bottom: 15px;
  }
  .container2 a {
    text-align: justify;
    font-size: small;
  }
  .weather {
    width: 100%;
    height: inherit;
  }
  .text {
    font-size: 25px;
    text-align: justify;
    margin: 20px;
    margin-left: 0px;
  }
  .tomzrg {
    width: 94vw;
    height: 80%;
    margin: 20px;
    margin-left: 0px;
  }
  .zai30px {
    margin-left: 20px;
  }
  .TEXT {
    margin: 40px;
  }
  .map {
    height: 450px;
  }
  .text2 {
    font-size: 25px;
    margin: 50px;
    text-align: justify;
  }
  .tugsgul {
    width: 100vw;
    height: 400px;
    padding: 0px;
  }
  .suulzurag {
    width: 100px;
    height: 50px;
  }
  .social {
    height: 40px;
    width: 40px;
    margin: 15px;
  }
  .ikons {
    width: 35px;
    height: 35px;
  }
  .row {
    align-items: center;
  }
  .text3 {
    margin: 10px;
    font-size: 20px;
    text-align: center;
  }
  .tsuvaa p {
    font-size: 20px;
    margin: 20px;
    text-align: center;
  }
  .tsuvaa {
    margin: 0px;
  }
}
@media only screen and (max-width: 1010px) {
  .line {
    width: 25%;
  }
  .circle {
    height: 160px;
    width: 160px;
  }
  .circle_overlay {
    height: 160px;
    width: 160px;
  }
  h1 {
    font-size: 20px;
    margin: 7px;
  }
  .map {
    height: 300px;
    width: 100vw;
    margin-right: 30px;
  }
  .text1 {
    font-size: 25px;
  }
  .zai30px .text2 {
    font-size: 25px;
  }
  .text {
    font-size: 25px;
    margin: 15px;
    margin-left: 0px;
  }
  .zai {
    font-size: 25px;
  }
  .row {
    align-items: flex-start;
  }
  .huvi {
    font-size: 30px;
    margin: 10px;
  }
  .row .column {
    margin: 5px;
  }
  .otherimg {
    width: 45%;
  }
  .tsuvaa p {
    font-size: 15px;
  }
  .column {
    margin-top: 220px;
  }
  .cntnr .text {
    font-size: 20px;
  }
}
@media screen and (max-width: 765px) {
  h3 {
    font-size: 27px;
    margin: 10px;
  }
  h1 {
    font-size: 18px;
  }
  .rnbl {
    height: 300px;
  }
  .line {
    width: 20%;
  }
  .circle {
    height: 122px;
    width: 122px;
  }
  .circle_overlay {
    height: 122px;
    width: 122px;
  }
  .text {
    margin: 10px;
    font-size: 20px;
  }
  .text1 {
    font-size: 20px;
  }
  .zai {
    font-size: 20px;
  }
  .Information {
    width: 100%;
    margin: 0px;
  }
  .other {
    width: 40%;
  }
  .text2 {
    font-size: 20px;
    margin: 10px;
  }
  .map {
    height: 220px;
    width: 50%;
    margin: 0px;
    margin-right: 5px;
  }
  .cntnr .text {
    font-size: 15px;
  }
}
@media screen and (max-width: 542px) {
  .circle {
    height: 92px;
    width: 92px;
  }
  .circle_overlay {
    height: 92px;
    width: 92px;
  }
  .rnbl {
    height: 250px;
  }
  h1 {
    font-size: 14px;
  }
  .line {
    width: 19%;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    margin: 15px;
    font-size: 20px;
  }
  .text1 {
    font-size: 17px;
  }
  .zai {
    font-size: 17px;
  }
  .text {
    font-size: 17px;
  }
  .zai30px .text2 {
    font-size: 15px;
    margin: 10px;
  }
  .huvi {
    font-size: 24px;
  }
}
@media screen and (max-width: 416px) {
  .main-container {
    width: 84%;
    min-width: 378px;
  }
  .logo {
    height: 30px;
    width: 40px;
    margin: 5px;
  }
  .line {
    border: 2px solid #409ada;
    width: 18%;
  }

  h1 {
    font-size: 12px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    margin: 15px;
    font-size: 18px;
  }
  .TEXT {
    font-size: 13px;
    margin: 10px;
    margin-left: 20px;
  }
  .row h2 {
    margin: 0px;
  }
  .rnbl {
    width: 100vw;
    height: 20vh;
    margin-top: 10px;
  }
  .row {
    margin-bottom: 10px;
    margin: 5px;
    width: 100%;
    align-items: center;
  }
  .tsuvaa {
    margin-bottom: 10px;
  }
  .column {
    margin-bottom: 10px;
  }
  .dooshoo {
    /* margin-top: auto;
    margin-bottom: auto; */
    margin: 0px;
    width: 33%;
  }
  .row .column {
    margin: 2px;
  }
  .Information {
    width: 100%;
    margin: 10px;
  }
  .other {
    width: 40%;
  }
  .text1 {
    font-size: 15px;
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .zai {
    font-size: 15px;
    width: 100%;
  }
  .text {
    font-size: 15px;
    margin-bottom: 20px;
    margin-right: 10px;
  }
  .container2 {
    height: 80px;
    margin-bottom: 20px;
    width: 100%;
  }
  .otherimg {
    width: 50%;
    height: 80%;
    margin: 0px;
    margin-right: 5px;
  }
  .container2 a {
    font-size: 7px;
    padding-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  ul {
    margin-left: 15px;
  }
  .weather {
    width: 100%;
    height: 100%;
  }
  .circle {
    height: 85px;
    width: 85px;
  }
  .circle_overlay {
    height: 85px;
    width: 85px;
  }
  .huvi {
    font-size: 17px;
    margin: 8px;
  }
  .tomzrg {
    width: 100vw;
    height: 150px;
  }
  .zai30px {
    margin-left: 0px;
    font-size: 10px;
  }
  .map {
    width: 45%;
    height: 130px;
    margin-right: 5px;
  }
  .text2 {
    font-size: 15px;
    margin: 20px;
  }
  .tugsgul {
    width: 100vw;
    height: 200px;
    padding: 0px;
  }
  .suulzurag {
    width: 30px;
    height: 20px;
  }
  .social {
    height: 20px;
    width: 20px;
    margin: 5px;
  }
  .ikons {
    width: 20px;
    height: 20px;
  }
  .text3 {
    margin: 10px;
    font-size: 15px;
    text-align: center;
  }
  .tsuvaa p {
    font-size: 10px;
    margin: 3px;
    text-align: center;
  }
  .tsuvaa {
    margin: 0px;
  }
  .goldoo {
    margin: 0 0 10px;
  }
  .cntnr .text {
    font-size: 12px;
  }
}
