* {
  margin: 0px;
  overflow: hidden;

}
body{
  width: fit-content;
  height: fit-content;
}

.infoCont {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  width: 700px;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
  gap: 100px

}
.dropBox {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h2l {
  animation-name: hideToLeft;
  animation-duration: 500ms;
  animation-play-state: running;
}
.afr {
  animation-name: appearFromRight;
  animation-duration: 500ms;
  animation-play-state: running;
}

@keyframes hideToLeft {
  from {
    left: 0;
  }
  to {
    left: -740px;
  }
}
@keyframes appearFromRight {
  from {
    left: 100%;
  }
  to {
    left: calc(100% - 740px);
  }
}

.h2r {
  animation-name: hideToRight;
  animation-duration: 500ms;
  animation-play-state: running;
}
.afl {
  animation-name: appearFromLeft;
  animation-duration: 500ms;
  animation-play-state: running;
}

@keyframes hideToRight {
  from {
    left: calc(100% - 740px);
  }
  to {
    left: 100%;
  }
}
@keyframes appearFromLeft {
  from {
    left: -740px;
  }
  to {
    left: 0px;
  }
}

.gtb{
  animation-name: GoToBottom;
  animation-duration: 500ms;
  animation-play-state: running;
}
@keyframes GoToBottom {
  from {
    margin-top: 0px;
    opacity: 100%;
  }
  to{
    margin-top: 120%;
    opacity: 0%;
  }
}

.aft{
  animation-name: Appear;
  animation-duration: 500ms;
  animation-play-state: running;
}
@keyframes Appear {
  from {
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}