* {
  margin: 0px;
  overflow: hidden;
}
.infoText{
  font-family: 'Lato', sans-serif;
  
}

body{
  width: fit-content;
  height: fit-content;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.infoCont {
  color: white;
  display: flex;
  padding: 20px;
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 10;
  gap: 100px

}
.dropBox {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h2l {
  animation-name: hideToLeft;
  animation-duration: 500ms;
  animation-play-state: running;
}
.afr {
  animation-name: appearFromRight;
  animation-duration: 500ms;
  animation-play-state: running;
}

@keyframes hideToLeft {
  from {
    left: 0;
  }
  to {
    left: -30%;
  }
}
@keyframes appearFromRight {
  from {
    left: 100%;
  }
  to {
    left: calc(100% - 33%);
  }
}

.h2r {
  animation-name: hideToRight;
  animation-duration: 500ms;
  animation-play-state: running;
}
.afl {
  animation-name: appearFromLeft;
  animation-duration: 500ms;
  animation-play-state: running;
}

@keyframes hideToRight {
  from {
    left: calc(100% - 33%);
  }
  to {
    left: 100%;
  }
}
@keyframes appearFromLeft {
  from {
    left: -30%;
  }
  to {
    left: 0px;
  }
}

.gtb{
  animation-name: GoToBottom;
  animation-duration: 500ms;
  animation-play-state: running;
}
@keyframes GoToBottom {
  from {
    margin-top: 50%;
    opacity: 100%;
  }
  to{
    margin-top: 120%;
    opacity: 0%;
  }
}

.aft{
  animation-name: Appear;
  animation-duration: 500ms;
  animation-play-state: running;
}
@keyframes Appear {
  from {
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}
.gtt{
  animation-name: GoToTop;
  animation-duration: 500ms;
  animation-play-state: running;
}
@keyframes GoToTop {
  from {
    margin-top: 50%;
    opacity: 100%;
  }
  to{
    margin-top: 0%;
    opacity: 0%;
  }
}
