* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(251, 249, 249);
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7)), url();
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 23px;
    padding: 5px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #4EB073;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.renew {
    font-family: 'Brygada 1918';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    color: #409ADA;
}

.renew-img {
    width: 100%;
    height: 485px;
}

.ser {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 50px;
    color: #134A77;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}

.energies {
    display: flex;
}

.main {
    margin-top: 74px;
    display: flex;
    flex-direction: column;
}

.what {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    color: #409ADA;
    font-size: 35px;
}

h2 {
    color: #134A77;
    font-size: 40px;
    font-weight: lighter;
}

.row h2 {
    margin: 30px;
    margin-left: 0px;
}

.line {
    border: 4px solid #409ADA;
    border-radius: 4px;
    width: 28%;
}

.rnbl {
    width: 1440px;
    height: 485px;
    margin-top: 40px;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-left: 0px;
}

.tsuvaa {
    display: flex;
    flex-direction: row;
    margin: 30px;
    margin-left: 0px;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 0px;
}

.dooshoo {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
}

.row .column {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 0px;
    align-items: center;
}

.Information {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 80px;
    margin-left: 40px;
}

.other {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 20px;
}

.container {
    width: 392px;
    height: 207px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
}

.container a {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.container a:hover {
    text-decoration: underline #4EB073;
}

.otherimg:hover {
    opacity: 50%;
}

.text {
    font-size: 30px;
    letter-spacing: normal;
    font-weight: lighter;
}

.text1 {
    font-size: 30px;
    letter-spacing: normal;
    font-weight: lighter;
    margin-right: 90px;
}

.otherimg {
    margin-left: 10px;
    margin-right: 10px;
}

.huvi {
    margin: 20px;
    font-size: 30px;
    letter-spacing: normal;
    font-weight: lighter;
}

.tomzrg {
    width: 1360px;
    margin: 30px;
    margin-left: -13px;
}

.cntnr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row .cntnr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.zai30px {
    margin-left: 30px;
}

.energies {
    margin-left: 60px;
    font-size: 30px;
    letter-spacing: normal;
    font-weight: lighter;
}

h3 {
    font-size: 30px;
    font-weight: bolder;
    color: #0E7755;
    margin: 50px;
    margin-left: 0px;
}

.TEXT {
    font-size: 44px;
    margin: 60px;
    margin-left: 0px;
    font-weight: 300;
}

.tugsgul {
    background-color: white;
    height: 407px;
    width: 1440px;
    padding: 70px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 416px) {
    .header {
        position: fixed;
        overflow: hidden;
        background-color: #E5E5E5;
        top: 0;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 6px 10px;
        text-decoration: none;
        font-size: 12px;
        margin: 0 5px;
        font-weight: 400;
    }
    .logo {
        height: 30px;
        width: 40px;
        margin: 5px;
    }
    .main {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .line {
        border: 4px solid #409ADA;
        border-radius: 4px;
        width: 20%;
    }
    .asuult {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    h1 {
        color: #409ADA;
        font-size: 14px;
        font-weight: lighter;
    }
    .rnbl {
        width: 100vw;
        height: 30vh;
        margin-top: 20px;
    }
}


/* about us section */

.about-us {
    width: 100%;
    height: 450px;
    background-color: white;
    margin-top: 5%;
    color: black;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container div {
    flex-grow: 1;
}

.logo {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 50px;
}

.rnw-png {
    margin-top: 10px;
}

.about-us1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    display: block;
}

.nest-png {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.social {
    margin-right: 20px;
}

.rnwlogo {
    margin-top: 50px;
}

.about-us h3 {
    margin-top: 30px;
    width: 220px;
    font-size: 30px;
}

.handalt h3 {
    width: 300px;
    font-size: 30px;
}

.about-us2 {
    display: inline;
}

.about-us2 div {
    margin-top: 20px;
}

.about-us h3::after {
    content: '';
    width: 0%;
    height: 4px;
    background: #4EB073;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.about-us h3:hover::after {
    width: 100%;
}

.about-us p {
    font-size: 17px;
}

.about-us1 p {
    margin-bottom: 35px;
    margin-top: 20px;
}

.hl-icon {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 25px;
}

.hl-icon .icon {
    width: 26px;
    height: 26px;
}

.icon {
    margin-right: 14px;
}