@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:ital,wght@0,100;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

/* Navbar */
.nav-links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo {
  width: 5vw;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding-left: 2.3vw;
  position: relative;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.2vw;
  padding: 0.3vw;
  font-weight: 400;
  line-height: 2vw;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: top 0.3s;
}
.navbar .container {
  height: 80px;
  display: flex;
  align-items: center;
}
.navbar ul {
  display: inline-block;
  align-items: center;
  list-style: none;
}

.navbar ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #4eb073;
  display: block;
  margin: auto;
  transition: 500ms;
}

.navbar ul li:hover::after {
  width: 100%;
}

/* latest-news */
.header .img-txt {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header .img-txt h3 {
  font-size: 2vw;
  margin-bottom: 2%;
  margin-top: 2%;
}
.header .img-h {
  top: 40%;
  position: absolute;
}
/* tugsgul */
.about-page .dooshoo {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 2vw;
  justify-content: center;
  align-items: center;
}
.cntnr {
  width: 6vw;
  height: 6vw;
}
.dooshoo .row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vw;
  margin-top: 0.1vw;
  justify-content: center;
  align-items: center;
}
.dooshoo .tsuvaa {
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-left: 0px;
}
.column {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 0px;
}
.tugsgul {
  background-color: white;
  display: flex;
  margin-top: 30%;
  flex-direction: row;
}
.about-page {
  background-color: white;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}
.text2 {
  font-size: 30px;
  letter-spacing: normal;
  font-weight: lighter;
  margin: 80px;
  margin-left: 0px;
}
.social {
  height: 50px;
  width: 50px;
  margin: 15px;
}
.dooshoo .text3 {
  margin: 40px;
}
/* Container */

.container {
  width: 100%;
  margin: auto;
}
/* contact us */
.contact-us-con {
  width: 100%;
  background-color: white;
  padding-top: 5%;
}
.contact-us {
  height: 20vw;
  display: flex;
  flex-direction: row;
}
.contact-us div {
  flex: 1;
  flex-direction: column;
}
.contact-us div h2 {
  width: fit-content;
  border-bottom: 3px solid #4eb073;
  font-size: 1.8vw;
  font-weight: 450;
  margin-bottom: 5%;
}
.contact-us div .aboutus-logo div {
  height: fit-content;
  flex: 1;
  margin-bottom: 15%;
}
.rnw-logo {
  margin-left: 40%;
  margin-right: 5%;
}
.aboutus-logo div {
  margin-bottom: 5%;
}
.rnw-logo img {
  width: 5vw;
}
.rnw-p {
  text-align: center;
  font-weight: 350;
}
.nest-p {
  text-align: center;
  font-size: 1.2vw;
  font-weight: 350;
}
.social2 {
  margin-left: 25%;
}
.social2 img {
  width: 2vw;
  margin-right: 4%;
}
.holboo-barih .contact-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}
.contact-us .contact-info div {
  width: 2vw;
}
.holboo-barih .contact-info p {
  width: 20vw;
}
.handltn-too {
  margin-bottom: 7%;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
@media screen and (max-width: 416px) {
  .logo {
    height: 30px;
    width: 40px;
    margin: 5px;
  }
  .navbar-container {
    height: 40px;
    z-index: 1;
    width: 100%;
    padding: 0;
  }
  .nav-links ul li a {
    color: black;
  }
  .navbar-menu {
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }
  .nav-links ul li {
    padding-left: 0;
  }
  .navbar-menu.active {
    background: white;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 25vh;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: black;
    display: block;
    cursor: pointer;
  }

  ul li {
    width: 100%;
    display: inline-block;
  }

  ul li a {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 10%;
    transform: translate(5%, 20%);
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
