@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:ital,wght@0,100;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;

}
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 0;
  background-color: var(--primary-color);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

/* Navbar */
.nav-links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo {
  width: 5vw;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding-left: 2.3vw;
  position: relative;
}

.navbar ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.2vw;
  padding: 0.3vw;
  font-weight: 400;
  line-height: 2vw;
  font-family: "Lato", sans-serif;
}
.navbar ul li .activePage {
  border-bottom: 4px solid #4eb073;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 0;
  background-color: var(--primary-color);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: top 0.3s;
}
.navbar .container {
  height: 80px;
  display: flex;
  align-items: center;
}
.navbar ul {
  display: inline-block;
  align-items: center;
  list-style: none;
}

.navbar ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #4eb073;
  display: block;
  margin: auto;
  transition: 500ms;
}

.navbar ul li:hover::after {
  width: 100%;
}

/* latest-news */
.header .img-txt {
  color: var(--primary-color);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header .img-txt h3 {
  font-size: 2vw;
  margin-bottom: 2%;
  margin-top: 2%;
}
.header .img-h {
  top: 50%;
  position: absolute;
}
/* Container */

.container {
  width: 100%;
  margin: auto;
}
/* contact us */
.contact-us-con {
  width: 100%;
  background-color: var(--primary-color);
  padding-top: 5%;
  color: var(--secondary-color);
}
.contact-us {
  height: 40vh;
  display: flex;
  flex-direction: row;
}
.contact-us div {
  flex: 1;
  flex-direction: column;
}
.contact-us div h2 {
  width: fit-content;
  border-bottom: 0.15vw solid #4eb073;
  font-size: 1.8vw;
  font-weight: 450;
  margin-bottom: 5%;
}
.contact-us div .aboutus-logo div {
  height: fit-content;
  flex: 1;
  margin-bottom: 15%;
}
.logo-cn {
  width: 250px;
  display: flex;
  justify-content: center;
}
.aboutus-logo div {
  margin-bottom: 5%;
}
.rnw-logo {
  width: 6vw;
  margin: auto;
}
.rnw-logo img {
  width: 5vw;
}
.rnw-p {
  text-align: center;
  font-weight: 350;
  font-size: 1vw;
  margin-bottom: 10%;
}
.nest-p {
  text-align: center;
  font-size: 1.2vw;
  font-weight: 350;
}
.social2 {
  margin-left: 25%;
}
.social2 img {
  width: 1vw;
  margin-right: 4%;
}
.holboo-barih {
  padding-left: 10%;
}
.holboo-barih .contact-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}

.holboo-barih .contact-info p {
  width: 20vw;
  font-size: 0.9vw;
  margin-left: 5%;
  display: flex;
  align-items: center;
  margin-right: 10px; 
}
.holboo-barih .contact-info img {
  width: 1.5vw;
}
.handltn-too {
  margin-bottom: 3%;
}
.handltn-too p {
  font-size: 0.9vw;
}
#icon{
  width: 30px;
  cursor: pointer;
}
:root{
  --primary-color:#fff;
  --secondary-color:#212121;
}
.dark-theme{
  --primary-color:#212121;
  --secondary-color:#fff;
}
@media screen and (max-width: 416px) {
  .contact-us {
    height: 35vw;
  }
  .contact-info div {
    flex: 0;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 417px) {
  .holboo-barih .contact-info p {
    font-size: 10px;
    width: 33vw;
  }
  .nest-p {
    font-size: 10px;
  }
  .handltn-too p {
    font-size: 10px;
  }
  .contact-us {
    height: 20vh;
  }
  .contact-us div h2 {
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
    background-color: var(--primary-color);
  }
  .header .img-txt {
    top: 25%;
  }
  .holboo-barih .contact-info p {
    font-size: 12px;
    width: 33vw;
  }
  .nest-p {
    font-size: 12px;
  }
  .handltn-too p {
    font-size: 12px;
  }
  .contact-us {
    height: 20vh;
  }
  .contact-us div h2 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    background-color: var(--primary-color);
  }
  .header .img-txt {
    top: 30%;
  }
  .holboo-barih .contact-info p {
    font-size: 13px;
    width: 33vw;
  }
  .handltn-too p {
    font-size: 13px;
  }
  .nest-p {
    font-size: 13px;
  }
  .contact-us {
    height: 30vh;
  }
  .contact-us div h2 {
    font-size: 16px;
  }
  .holboo-barih .contact-info img {
    width: 20px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    background-color: var(--primary-color);
  }
  .header .img-txt {
    top: 45%;
  }
  .holboo-barih {
    padding: 0;
  }
  .holboo-barih .contact-info p {
    font-size: 15px;
    width: 33vw;
  }
  .handltn-too p {
    font-size: 15px;
    margin-bottom: 0%;
  }
  .nest-p {
    font-size: 15px;
  }
  .contact-us {
    height: 23vh;
  }
  .contact-us div h2 {
    font-size: 18px;
  }
  .holboo-barih .contact-info img {
    width: 25px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    background-color: var(--primary-color);
  }
  .contact-us {
    height: 30vh;
  }
  .contact-us div h2 {
    font-size: 22px;
  }
  .holboo-barih .contact-info img {
    width: 25px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
    background-color: var(--primary-color);
  }
  .header .img-txt {
    top: 50%;
  }
  .handltn-too {
    margin-bottom: 10%;
  }
  .holboo-con {
    padding-left: 15%;
  }
}
@media screen and (max-width: 416px) {
  .header .img-txt {
    top: 15%;
  }
  .logo {
    height: 30px;
    width: 40px;
    margin: 5px;
  }
  .navbar-container {
    height: 40px;
    z-index: 1;
    width: 100%;
    padding: 0;
  }
  .nav-links ul li a {
    color: var(--secondary-color);
    font-size: 15px;
    line-height: 20px;
  }
  .navbar-menu {
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }
  .nav-links ul li {
    padding-left: 0;
    margin-bottom: 5%;
    margin-left: 35%;
  }
  .navbar-menu.active {
    background: var(--primary-color);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 35vh;
  }

  .navbar__toggle .bar {
    width: 20px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--secondary-color);
    display: block;
    cursor: pointer;
  }

  ul li {
    width: 30%;
    display: inline-block;
  }

  ul li a {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .aboutus-logo {
    margin-bottom: 5%;
  }
  .aboutus-logo div {
    margin-bottom: 2%;
  }
  .contact-us-con {
    height: 70vh;
  }
  .contact-us {
    padding: 5%;
    height: 65vh;
    display: flex;
    flex-direction: column;
  }
  .rnw-logo {
    margin: 0;
  }
  .rnw-p {
    text-align: left;
    font-size: 3vw;
  }
  .rnw-logo img {
    width: 15vw;
  }
  .nest-p {
    text-align: left;
    font-size: 3vw;
  }
  .social2 {
    margin: 0;
  }
  .social2 img {
    width: 5vw;
    margin-right: 2%;
  }
  .contact-us div h2 {
    font-size: 5vw;
    border-bottom: 3px solid #4eb073;
  }
  .holboo-barih {
    padding: 0;
  }
  .holboo-barih .contact-info img {
    width: 4vw;
  }
  .holboo-barih .contact-info p {
    font-size: 3vw;
    width: 50vw;
  }
  .handltn-too p {
    font-size: 3vw;
  }
  .navbar__btn {
    padding-bottom: 2rem;
  }
  #mobile-menu {
    position: absolute;
    top: 18%;
    right: 10%;
    transform: translate(5%, 20%);
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  @media screen and (max-height: 897px) {
    .contact-us-con {
      height: 74vh;
    }
  }
  @media screen and (max-height: 745px) {
    .contact-us-con {
      height: 76vh;
    }
  }
  @media screen and (max-height: 700px) {
    .contact-us-con {
      height: 90vh;
    }
  }
}
