*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.cntnr {
    width: 100%;
    margin: auto; 
}

@media (min-width: 576px) {
    .cntnr {
        width: 540px;
    }
    
}
@media (min-width: 768px) {
    .cntnr {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .cntnr {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .cntnr {
        margin-left: auto;
        margin-right: auto;
        width: 1440px;
        background-color: #e5e5e5;
        margin-top: 190px;
    }
}
@media (min-width: 416px) {
    .cntnr {
        width: 100%;
    }
    h1 {
        font-size: 15px;
    }
    h2 {
        font-size: 14px;
    }
    h3 {
        font-size: 18px;
    }
}