* {
  margin: 0px;
  overflow: hidden;
}
canvas {
  width: 50vw;
}
.infoBox {
  height: fit-content;
  width: 100%;
  max-width: 600px;
  resize: none;
  padding: 0 40px;
  background-color: rgb(21, 39, 68);
  transition: 250ms;
  font-size: 30px;
}
.icon {
  display: block;
  z-index: 12;
  width: 100px;
  height: 100px;
  margin-bottom: 24px;
}

body {
  background-color: rgb(21, 39, 68);
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
}

.infoCont {
  height: 100vh;
  width: 50vw;
  padding-top: 80px;
  background-color: rgb(21, 39, 68);
  color: white;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
}
/* .dropBox {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
} */

/* .h2l {
  animation-name: hideToLeft;
  animation-duration: 500ms;
  animation-play-state: running;
}
.afr {
  animation-name: appearFromRight;
  animation-duration: 500ms;
  animation-play-state: running;
}

@keyframes hideToLeft {
  from {
    left: 18%;
  }
  to {
    left: -30%;
  }
}
@keyframes appearFromRight {
  from {
    left: 100%;
  }
  to {
    left: calc(100% - 48%);
  }
}

.h2r {
  animation-name: hideToRight;
  animation-duration: 500ms;
  animation-play-state: running;
}
.afl {
  animation-name: appearFromLeft;
  animation-duration: 500ms;
  animation-play-state: running;
}

@keyframes hideToRight {
  from {
    left: calc(100% - 48%);
  }
  to {
    left: 100%;
  }
}
@keyframes appearFromLeft {
  from {
    left: -30%;
  }
  to {
    left: 18%;
  }
} */

.gtb {
  animation-name: GoToBottom;
  animation-duration: 500ms;
  animation-play-state: running;
}
@keyframes GoToBottom {
  from {
    opacity: 100%;
  }
  to {
    transform:translateY(300px);
    opacity: 0%;
  }
}

.aft {
  animation-name: Appear;
  animation-duration: 500ms;
  animation-play-state: running;
}
@keyframes Appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.gtt {
  animation-name: GoToTop;
  animation-duration: 500ms;
  animation-play-state: running;
}
@keyframes GoToTop {
  from {
    opacity: 100%;
  }
  to {
    transform:translateY(-300px);
    opacity: 0%;
  }
}
/* .fo{
  animation-name: FadeOut;
  animation-duration: 1000ms;
  animation-play-state: running;
}
@keyframes FadeOut {
  from{
    opacity: 100%;
  }
  to{
    opacity: 0%;
  }
}
.fi{
  animation-name: FadeOut;
  animation-duration: 1000ms;
  animation-play-state: running;
}
@keyframes FadeOut {
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
} */
@media only screen and (max-width: 417px) {
  body {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .infoCont {
    align-items: flex-start;
    height: 100%;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: fit-content;
    margin: 0px;
    padding: 0px;
  }
  .infoBox {
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
  }
}
