@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
.start {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}


/* Landing */

.landing {
    width: 100%;
    object-fit: contain;
}


/* Images */


/*
.team {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}

.yellow-box {
    position: absolute;
    background-color: #E8B80C;
    height: 150px;
    width: 100%;
}

.images {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width: 416px) {
    .logo {
      height: 30px;
      width: 40px;
      margin: 5px;
    }
    .navbar__toggle .bar{
     background: black;
    }
    .team{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }
    .yellow-box{
        width: 100%;
        height: 20%;
    }
    .images{
        width: 45%;
        gap: 10%;
    }
    .images img{
        width: 45%;
    }
  }

  */

.landing {
    border: 1px solid red;
}

.header {
    width: 100%;
}

.con-sec {
    margin-bottom: 10%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con-sec2 {
    width: 100%;
    height: 100vh;
}

.pro-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15vw;
    height: 15vw;
    left: 14%;
    top: 20%;
    border-radius: 50%;
    background-color: white;
    border: 0.3vw solid #e29898;
    z-index: 2;
}

.pro-pic .img-con {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
}

.ner {
    position: absolute;
    width: 34vw;
    height: 32.5vw;
    left: 4vw;
    top: 17vw;
    border: 0.3vw solid #e29898;
}

.ner .inf {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 5vw;
    top: 60%;
    background: #fe4f70;
}

.ner h2 {
    left: 50%;
    right: 50%;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 41px;
    color: #ffffff;
}

.ner p {
    width: 10vw;
    height: 1vw;
    left: 42%;
    top: 40%;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 3vw;
    color: #000000;
}

.information-con {
    position: absolute;
    width: 20%;
    height: 50%;
    left: 46%;
    top: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vw solid #91c95a;
    box-sizing: border-box;
    font-size: 1vw;
}

.info {
    padding-left: 5%;
    width: 80%;
    height: 90%;
    background-color: #f7fafe;
}

.info p {
    color: #a7aaab;
}

.info h3 {
    font-family: "Lato", sans-serif;
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 1.3vw;
}

.scl-m {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20%;
    height: 50%;
    left: 70%;
    top: 13vw;
    border: 0.3vw solid #e8b80c;
    box-sizing: border-box;
}

.social {
    margin-top: 20%;
}

.scl-con {
    margin-bottom: 10%;
    flex-wrap: wrap;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.scl-con h2 {
    font-weight: 400;
}

.scl-con img {
    flex-grow: 1;
}

.scl-con div {
    flex-grow: 2;
}

.birth {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.birth h3 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.birth-n {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 5%;
}

.birth-n p {
    flex-grow: 1;
    display: flex;
}

.mdl {
    margin-top: 7%;
}

.statistics {
    position: absolute;
    width: 44%;
    height: 20%;
    left: 46%;
    top: 40vw;
    border: 0.1vw solid #b774ff;
    box-sizing: border-box;
}

.statistics .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
    background-color: #b774ff;
    color: white;
    font-size: 1.5vw;
}

.statistics .header p {
    margin-left: 5%;
    font-weight: 400;
    line-height: 2vw;
}

.statis {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.statis div {
    flex-grow: 1;
}

.crc-con {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

.crc-p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    padding-left: 5%;
}

.circle1 {
    flex-grow: 1;
    margin-top: 5%;
    margin-left: 5%;
    width: 5.4vw;
    height: 5.4vw;
    border-radius: 50%;
    background: #ebebeb;
}

.cir2-con {
    width: 5.4vw;
    height: 5.4vw;
    padding-top: 10px;
}

.circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}

.circle2 p {
    font-size: 22px;
}