*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
    height: 100vh;
    width:100vw
}
#c {
    width: 100vw;
    height: 100vh;
    display: block;
    background: url("../textures/sunny-day.jpeg") no-repeat center center;
    background-size: cover;
}
