#firebaseui-auth-container {
  margin-top: 100px;
}
.board {
  margin-top: 100px;
}
.activePage {
  border-bottom: 4px solid #4eb073;
}
<<<<<<< HEAD
.board{
    margin-top: 100px;
    display: block;
    margin-left: 50%;
    font-size: large;
}
=======
>>>>>>> 8a6b97cb48eacc0751ce4d0dd5ae7ecae5bb6ac9
